.container-header {
  text-align: left;
}
.jobs-container {
  border: 1px solid black;
  padding: 10px;
}
.details-path {
  text-align: left;
}
.details-title {
  text-align: left;
}
.info {
  text-align: justify;
  overflow: auto;
  max-height: 310px;
}
.company-img {
  width: 50%;
}


/*=============================================
=            Media querys             =
=============================================*/
@media (max-width:767px) {
  .company-img {
    width: 100%;
    height: 200px;
  }
}


/*=====  End of Media querys   ======*/

