.results-container,
.favs-container {
  padding: 20px;
  border: 1px solid black;
  max-height: 220px;
  overflow: auto;
}
.individual {
  margin-bottom: 8px;
  padding: 5px;
  border: 1px solid black;
  height: 80px;
}
.job-title {
  float: left;
  text-align: left;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.locate {
  float: right;
  text-align: right;
}
.info {
  float: left;
}
.nofav {
  float: right;
}


/*=============================================
=     Media querys - Results component        =
=============================================*/
@media (max-width:767px) {
  .individual {
    font-size: 12px;
  }
  .locate {
    float: left;
    text-align: left;
  }
}


/*===    Media querys - Results component=*/

   